---
layout: page
title: "Members"
description: "Collaborators working on this project."
header-img: "img/home-bg.jpg"
---
<hr>
<h2>Promoters</h2>
{% for member in site.data.members %} {% if member.promoter == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:10px; margin-right:10px; float:left; height: 100px; width:100px !important">

	<h1>{{ member.name }}</h1>

	<h2>{{ member.role }}</h2>

	{% if member.github %}
	<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><i class="fa fa-github"></i>&nbsp;Github</a></span>
	{% endif %}
	{% if member.gplus %}
	<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><i class="fa fa-google-plus"></i>&nbsp;Google Plus</a></span>
	{% endif %}
	{% if member.url %}
	<span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><i class="fa fa-home"></i>&nbsp;Website</a></span>
	{% endif %}

	</br>

	{% if member.bio %}
	{{ member.bio }}
	{% endif %}

	<hr>

{% endif %}{% endfor %}

</br>

<hr>
<h2>Collaborators</h2>
{% for member in site.data.members %} {% if member.collaborator == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; height: 100px; width:100px !important">

	<h1>{{ member.name }}</h1>

	<h2>{{ member.role }}</h2>

	{% if member.github %}
	<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><i class="fa fa-github"></i>&nbsp;Github</a></span>
	{% endif %}
	{% if member.gplus %}
	<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><i class="fa fa-google-plus"></i>&nbsp;Google Plus</a></span>
	{% endif %}
	{% if member.url %}
	<span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><i class="fa fa-home"></i>&nbsp;Website</a></span>
	{% endif %}

	</br>

	{% if member.bio %}
	{{ member.bio }}
	{% endif %}

	<hr>

{% endif %}{% endfor %}
